 .button {
      cursor: pointer;
      text-decoration: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      border: 2px solid #2d2e32;
      transition: all 0.45s;
    }

    .button:hover {
      transform: rotate(360deg);
      transform-origin: center center;
      background-color: gray;
      color: #2d2e32;
    }

    .button:hover .btn-svg {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
    }

    .flex-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* From Uiverse.io by vinodjangid07 */
    .loader {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .panWrapper {
      width: 200px;
      height: fit-content;
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;
      gap: 20px;
    }

    .pan {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      height: fit-content;
      animation: cooking 1.7s infinite;
    }

    @keyframes cooking {
      0% {
        transform: rotate(0deg);
        transform-origin: top right;
      }

      10% {
        transform: rotate(-4deg);
        transform-origin: top right;
      }

      50% {
        transform: rotate(20deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }

    .food {
      position: absolute;
      width: 40%;
      height: 6px;
      background: linear-gradient(to bottom, rgb(82, 33, 33), rgb(200, 106, 106));
      left: 10px;
      border-radius: 50%;
      animation: flip 1.7s infinite;
      z-index: 2;
    }

    @keyframes flip {
      0% {
        transform: translateY(0px) rotate(0deg);
      }

      50% {
        transform: translateY(-100px) rotate(180deg);
      }

      100% {
        transform: translateY(0px) rotate(360deg);
      }
    }

    .panBase {
      z-index: 3;
      width: 50%;
      height: 22px;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      background: linear-gradient(to top, rgb(3, 156, 156), rgb(10, 191, 191));
    }

    .panHandle {
      width: 40%;
      background: linear-gradient(to bottom, rgb(18, 18, 18), rgb(74, 74, 74));
      height: 10px;
      border-radius: 10px;
    }

    .panShadow {
      width: 70px;
      height: 8px;
      background-color: rgba(0, 0, 0, 0.21);
      margin-left: 15px;
      border-radius: 10px;
      animation: shadow 1.7s infinite;
      filter: blur(5px);
    }

    @keyframes shadow {
      0% {
        transform: scaleX(0.7);
      }

      50% {
        transform: scaleX(1);
      }

      100% {
        transform: scaleX(0.7);
      }
    }

    .Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: white;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 30px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 180px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 10px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}