
    .product-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 25px;
      max-width: 1200px;
      margin: 40px auto;
      padding: 0 20px;
      flex-grow: 1;


    }

    .product-card {
      border-radius: 12px;
      position: relative;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      cursor: pointer;
      border: 2px solid transparent;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
      flex-direction: column;
      

    }

    .product-card:hover {
      transform: translateY(-8px);
      box-shadow: 0 10px 25px #9B5DE0;
    }

    .product-card.selected {
      border-color: #ff3385;
      box-shadow: 0 0 20px #ff0066;
    }

    /* .product-card img {
      width: 100%;
      height: 250px;

      object-fit: cover;
      border-bottom: 2px solid #1f1b2e;
    } */

    .product-card-content {
      padding: 15px 10px;
      flex-grow: 1;
    }

    .product-card h3 {
      margin: 0 0 5px;
    }



    .quantity-badge {
      position: absolute;
      top: 15px;
      right: 15px;
      background: #ff0066;
      color: #fff;
      font-weight: 700;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
      z-index: 10;
    }

    .popup {
      position: fixed;
      bottom: -250px;
      left: 0;
      backdrop-filter: blur(12px);
      padding: 30px 20px 40px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      transition: bottom 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      z-index: 1000;
    }

    .popup.active {
      bottom: 0;
    }

   

    .btn-lanjut {
      display: block;
      line-height: 55px;
      border-radius: 12px;
      transition: background-color 0.3s, transform 0.2s;
      margin-bottom: 15px;
    }

    .btn-lanjut:hover {
      transform: translateY(-2px);
    }

    .btn-batal {
      background-color: transparent;
      padding: 12px 25px;
      border-radius: 12px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
    }

   